
*{
    margin: 0;
    padding: 0;
}
.header {
  padding: 25px;
  text-align: center;
  background: #EBECF0;
  color: white;
  font-size: 20px;
}
.header a
{
  float:right;
  padding:-20px;
  position: absolute;
  top: 8px;
  right: 20px;
}
  .main{
    text-align: center;
    background: gray;
  }

  .logo-img
  {
    float: left;
    width: 100px;
    height: 50px;
    margin-left:10px;
    padding:10px;
    position: absolute;
    top: 3px;
    left: -5px;
  }
  .main div
  {
      margin-top: 15px;
  }
  .content {padding:20px;}
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }  
.column
{
  margin: 0px;
}
.column p
{
  font-size: 10px;
  margin: 15px;
}
 